body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    background-color: rgb(212, 223, 220);
}
.text {
    width: 300px;
    padding: 15px;
    font-size: 16px;
}

button {
    margin-left: 20px;
    padding: 5px 10px;
    cursor: pointer;
}
.addBtn {
    background-color: #3586d6;
    color: rgb(232, 231, 242);
    border: none;
    border-radius: 8px;
}
ul {
    list-style-type: none;
    padding: 20px;
    margin-top: 20px;
    border: 1.5px solid #ccc;
    border-radius: 10px;
    background-color: rgba(245, 247, 247, 0.753);
    width: 500px;
}

li {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    border-bottom: 1px;
    max-width: 700px;
    margin: 10px auto;

}
.container {
  max-width: 800px;   /* increase this */
  margin: 0 auto;     /* keeps it centered */
  padding: 20px;
}

li:nth-child(odd) {
    background-color: #f0e2ec;
}

li:nth-child(even) {
    background-color: #d9f0db;
}

li span {
    flex-grow: 1; /* Pushes the delete button to the right automatically */
}

li:hover {
    background-color: #c8d8dbf7 
}
button:nth-of-type(2) {
    background-color: #e56c80f7 ;
    color: black;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
}
button:nth-of-type(1) {
    background-color:#f2a90bc4;
    color: rgb(4, 23, 136);
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
}

button:hover {
    opacity: 0.8;
}
#emptyMsg {
    color: #888;
    font-style: italic;
    margin-top: 20px;
}
input[type="checkbox"] {
    width: 18px;
    height: 18px;
}
.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
#taskInput {
  width: 80%;
  height: 40px;       /* increase this */
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 10px;
  resize: vertical;   /* allows user to drag to resize */
}